body {
    font-family:Arial, sans-serif;
    margin:0;
    padding:0;
}

header{
    background-color:#333;
    color: #fff;
    padding:10px, 20px;
    margin:0 45%
}

main{
    padding:20px;
}
footer{
    background-color:#333;
    color: #fff;
    padding:10px, 20px;
    position:fixed;
    width:100%;
    bottom:0px;
    text-align: center;
}
#categories {
    text-align: center;
    margin: 20%;
}
h1{
    text-align: center;
}
body{
    background-image: url('https://png.pngtree.com/back_origin_pic/04/19/78/a672fc22e79eb37f84bbdc9dc3143312.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
h2{
    color:white
}
#random-recipe{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color:lightgrey;
    width: 2%;
    margin: 0 25px;
}

#random-recipe img {
    display: flex;
    justify-content: center;
    width: 50%;
    height: auto;
    margin: auto;
}